/* Custom styles */
* {
	box-sizing: border-box;
}

html, body {
    margin: 0 !important;
}
body {
    padding: 24px;
    font-family: sans-serif;
}

.hidden {
	display: none !important;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    max-width: 360px;
    background: #fafafa;
    box-shadow: 5px 0px 15px rgba(0,0,0,.24);
    z-index: 10;
    transform: translate3d(-110%,0, 0);
    transition: transform 0.2s cubic-bezier(0, 1.21, 0.54, 0.97);
}

body.menuOpen #menu {
    transform: translate3d(0,0,0);
}

#menu h2 {
    padding: 34px 16px;
    border-bottom: 1px solid #0000000f;
    margin: 0;
    background: #ececec;
    font-weight: bold;
    font-size: 1.6em;
}

#menu-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
#menu-close:hover {
  opacity: 1;
}
#menu-close:before, #menu-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#menu-close:before {
  transform: rotate(45deg);
}
#menu-close:after {
  transform: rotate(-45deg);
}


#menu > a {
    padding: 16px 14px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 1.1em;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    transition: background 0.2s ease;
}

#menu > a.active {
    color: #fa7c46;
}

#menu > a:hover {
    background: rgba(0,0,0,.1);
}

.container {
	max-width: 1024px;
	margin: 0 auto 24px;
}

#menu-button {
    font-size: 40px;
    padding: 0.35em;
    cursor: pointer;
    transform: rotate3d(0,0,1,0deg);
    transition: transform 0.4s ease;
    transform-origin: center;
    display: inline-block;
}

#menu-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0em;
    width: 0.7em;
    height: 0.10em;
    background: black;
    box-shadow: 0 0.22em 0 0 black, 0 0.46em 0 0 black;
}

#menu-button:after {
    content: 'Menu';
    font-size: 0.5em;
    position: absolute;
    top: 2px;
    left: 2.2em;
    text-transform: uppercase;
    display: none;
}

@media( max-width: 640px ) {
    #menu-button {
        left: 40px;
    }
}

#main-container {
	transition: all 0.26s ease;
}

@media( min-width: 1024px ) {
	#main-container {
		margin: 0 auto 2rem;
		max-width: 1024px;
	}
	#main-container:after {
		content: '';
		display: table;
		clear: both;
	}
}

.msg {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    padding: 1em 2em;
    background: #61c8f1;
    border: 1px solid #137ba4;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9em;
    transform: translateY(-150%);
    animation: 7s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1 showMessage;
    z-index: 11;
}

.msg.err {
	background: rgb(255, 124, 0);
	border-color: #ff4400;
}

span.welcome {
    margin-top: 16px;
    margin-bottom: 0.4em;
    display: block;
    text-align: right;
    font-style: italic;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    border-top: 0.2em solid #f47c48;
    margin-top: 0;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
}

h3 {
	margin-bottom: 0px;
	margin-top: 0;
}

select#group {
	display: block;
	width: 100%;
	padding: 0.8em;
	font-size: 1em;
	margin-bottom: 1em;
	/* float: right; */
	/* margin-top: -56px; */
	font-family: Roboto, sans-serif;
}

@media( max-width: 320px ) {
	select#group {
		display: block;
		width: 100%;
		margin: 0 0 1em;
	}
}

form#chOut {
    margin-bottom: 3rem;
}

select#publisher {
    display: block;
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    margin-bottom: 1em;
    font-family: Roboto, sans-serif;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

input[type="number"] {
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid rgb(169, 169, 169);
}

input[type="submit"] {
    padding: 1em 2em;
    width: 100%;
    background-color: #f47c48;
    border: 1px solid #c23b00;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
}

#terr-select {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}


#terr-select label {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0 8px;
}

#terr-select label:before {
	content: attr(data-attr);
	border: 1px solid #f47c48;
	border-radius: 4px;
	padding: 20px 0px;
	display: inline-block;
	width: 100%;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
}

#terr-select label:hover:before,
#terr-select input:checked + label:before {
	color: white;
	font-weight: bold;
	background: #f47c48;
}
#terr-select label:hover:before {
	background: #ffc6af;
}

@media( max-width: 320px ) {
	#terr-select label {
		width: 25%;
	}
}
@media( max-width: 640px) {
	#terr-select label:hover:before {
		color: #8c8c8c;
		font-weight: normal;
		background: transparent;
	}
}

@media( min-width: 767px ) {
	input[type="submit"] {
		width: auto;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding: 1.6em 20%
	}
	#terr-select label {
		width: 10%;
	}
}

@media( min-width: 1024px ) {
	#terr-select label {
		width: auto;
		position: relative;
	}
	#terr-select label:before {
		width: 1.6em;
		padding: 20px;
		/* margin-right: 1em; */
	}
}

#terr-select input {
    height: 0;
    width: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
}

.userWterrs {
    font-size: 1.1rem;
    margin-bottom: 1em;
    list-style-type: none;
    position: relative;
    border: 1px solid #eaeaea;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);
}

.userWterrs i {
	font-size: 0.8em;
}

.user {
	background: #ececec;
	padding: 1em;
	position: relative;
}

.user .ugroup {
	display: block;
	font-size: 0.6em;
	margin-bottom: 8px;
	text-transform: uppercase;
	font-weight: 600;
}

span.ago {
    font-style: italic;
    font-size: 0.8em;
    padding: 3px 8px;
    background: #00c000;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    color: black;
}
span.ago.second,
span.ago.seconds,
span.ago.segundo,
span.ago.segundos {
    background: #00b300;
}
span.ago.minute,
span.ago.minutes,
span.ago.minuto,
span.ago.minutos {
	color: #e0dddd;
    background: green;
}
span.ago.hour,
span.ago.hours,
span.ago.hora,
span.ago.horas {
	color: #e0dddd;
    background: #005f00;
}
span.ago.day,
span.ago.days,
span.ago.día,
span.ago.días {
	background: yellow;
}
span.ago.week,
span.ago.weeks,
span.ago.semana,
span.ago.semanas {
    background: #d1c600;
}
span.ago.month,
span.ago.months,
span.ago.mes,
span.ago.meses {
    background: #ff9400;
}
span.ago.year,
span.ago.years,
span.ago.año,
span.ago.años {
    background: red;
}

.checkin {
	background: #f9f9f9;
	padding: 1em;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	font-size: .6em;
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
}

.checkin:hover {
	background: #eeeeee;
}

.checkin span {
	font-size: 1.35em;
	font-weight: bold;
}

.checkin span i {
	font-size: .8em;
	position: relative;
	top: -1px;
	right: 0px;
}

.tco {
	margin: 0 0 32px 16px;
}

.tco h4 {
	display: inline-block;
	margin: 1em 0 0.2em;
}

.terrDetails {
	position: relative;
}
.terrDetails .codate {
    display: block;
    font-size: .8em;
}

@media( min-width: 1024px ) {
    #all-checkedout {
        display: flex;
        flex-wrap: wrap;
    }
	.userWterrs {
		float: left;
		width: 48%;
	}
	.userWterrs:nth-of-type(odd) {
		margin-right: 1em;
	}
	.userWterrs:nth-of-type(:last-child) {
		clear: both;
	}
}

/* POPUP */
.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.blur-svg {
    display: none;
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: transparent;
    transition: all 0.3s ease;
}

#popup.show {
	pointer-events: all;
	background-color: rgba(0, 0, 0, 0.26);
}

#pcontainer {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 1.8em 1.4em;
    box-shadow: 0px 3px 12px 1px rgba(0,0,0,0.4);
}

#popup.show #pcontainer {
	opacity: 1;
	text-align: center;
}

#pcontainer h3 {
	margin-bottom: 1.4em;
}

#pcontainer span {
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 0.6em 1.6em;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    transition: filter 0.2s ease;
}

#pcontainer span:hover {
	filter: brightness(96%);
}

#pcontainer span.yes {
	background: red;
	color: rgba(255, 255, 255, 0.96);
	margin-right: .5em;
}

/* TERRITORY HISTORY */
.allTerritories {
    margin: 24px -8px;
}

.terrHistory {
    display: inline-block;
    width: 100%;
    margin: 8px;
    padding: 20px;
    border: 1px solid #0000003d;
    height: auto;
    vertical-align: middle;
}

.terrHistory span {
    font-size: 12px;
    display: block;
    margin-top: 12px;
}

@keyframes showMessage {
    0% {
        transform: translateY(-150%);
    }
    10% {
    	transform: translateY(0);
    }
    90% {
		transform: translateY(0);
    } 
    100% {
        transform: translateY(-150%);
    }
}